.THUY_profile {
  text-align: center;
  padding: 20px;
  h2 {
    color: #ff2f2f;
  }
}

.avatar {
  width: 500px;
  border-radius: 70%;
  margin-bottom: 50px;
}

h2 {
  color: #333;
}

p {
  color: #666;
  font-size: 16px;
}
#gv {
  position: absolute; /* Đặt vị trí tuyệt đối */
  top: 50px; /* Khoảng cách từ phía trên */
  left: 50px; /* Khoảng cách từ phía trái */
}
