.THUY_profile {
  text-align: center;
  padding: 20px;
}

.avatar {
  width: 500px;
  border-radius: 70%;
  margin-bottom: 50px;
}

h2 {
  color: #6e0e0e;
}

p {
  color: #4c1111;
  font-size: 16px;
}
