body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.slider-container {
    width: 100%;
    overflow: hidden; /* Ẩn phần bên ngoài của slider */
    position: relative;
}

.slider {
    display: flex; /* Hiển thị các hình ảnh theo hàng ngang */
    transition: transform 0.5s ease; /* Hiệu ứng trượt mượt mà */
}

.slider img {
    width: 100%;
    flex: 0 0 100%; /* Chiều rộng của hình ảnh bằng 100% của phần tử chứa */
}

@keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

/* Thay thế @key
